.big-404 {
  font-weight: 500;
  font-size: 10em;
  padding-top: .85em;
  padding-bottom: .4em;
  color: #494138;
}

.not-found {
  background-color: #494138;
  color: #EBBE50;
  padding: 0.6em 0;

}

.body-404 {
  padding-top: 0;
}

.btn-404 {
margin-left: 0;
}

@media only screen and (min-width: 38em) {

  .big-404 {
    font-size: 10em;
    padding-top: .9em;
    padding-bottom: .45em;
  }

}

@media only screen and (min-width: 60em) {

  .big-404 {
    padding-top: 1.2em;
  }

}

@media only screen and (min-width: 90em) {

  .big-404 {
    padding-top: 1.2em;
  }

}
