.space {
  height: 65%;
  overflow: ;
  transform: translateY(22%);
  padding-bottom: 35%;
}

#start {

}

.space {
  padding-top: 0;
}

.about-me {
  height: 65%;
}

.self-gif {
  height: 0.1em;
}

.bio-header {
  color: #494138;
  font-size: 2em;
  margin-bottom: none;
}

.bio-body {
  font-size: 1em;
}

@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {

  .space {
    overflow: hidden;
    height: 65%;
    background: #EBBE50;
    position: absolute;
    padding-top: 0;
    transform: translate(0);
  }

  .self-gif {
    background-image: url(../images/self-gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    height: 28em;
  }

  .bio {
    background-color: #EBBE50;
    height: 65%;
  }

  .bio-header {
    color: #494138;
    padding-top: 1em;
    font-size: 2em;
  }

  .bio-body {
    font-size: 1em;
  }

}

@media only screen and (min-width: 90em) {

  .space {
    height: 80%;
    background: #EBBE50;
  }

  .self-gif {
    background-image: url(../images/self-gif.gif);
    height: 33em;
  }

  .bio {
    background-color: #EBBE50;
    height: 80%;
  }

  .bio-header {
    color: #494138;
    padding-top: 1em;
    font-size: 2.5em;
  }

  .bio-body {
    font-size: 1.2em;
  }

}
