.email {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.contact {
  height: 90.9vh;
  position: relative;

}

.talking-face {
  transform: translateY(-125%) translateX(-5%);
  height: 35vh;
  width: 100%;
  position: absolute;
  background-image: url("../images/talking-face.gif");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-holder {
  margin-left: 1em;
}

@media only screen and (min-width: 38em) {

  .contact-holder {
    margin-left: 2em;
  }

}

@media only screen and (min-width: 60em) {



}

@media only screen and (min-width: 90em) {



}
