.footer {
  background-color: #494138;
  color: #EBBE50;
  margin-top: 0;
  z-index: 10000000;
}

.footer-home {
  background-color: #494138;
  color: #EBBE50;
  margin-top: 25em;
}

@media only screen and (min-width: 400px) {

  .footer-home {
    margin-top: 23em;
  }

}

@media only screen and (min-width: 38em) {

  .footer-home {
    position: absolute;
    width: -webkit-fill-available;
  }

  .topspace {
    margin-top: 5em;
  }

}

@media only screen and (min-width: 60em) {

  .footer {
    margin-top: 0;
  }

  .topspace {
    margin-top: 5em;
  }

}

@media only screen and (min-width: 90em) {

  .footer-home {
    margin-top: 19em;
  }

  .topspace {
    margin-top: 12em;
  }

}
