.footer {
  background-color: #494138;
  color: #EBBE50;
  margin-top: 0;
}

.footer-home {
  background-color: #494138;
  color: #EBBE50;
  margin-top: 0;
  margin-top: none;
}

@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {

  .footer {
    margin-top: 3vh;
  }


}

@media only screen and (min-width: 90em) {



}
