html {
  background-color: #EBBE50;
  font-family: 'Poppins', sans-serif;
  color: #1C2323;
}

::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  background-color: #494138;
  border-bottom: 1px solid #EBBE50;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 1000;
}

.initials {
  width: 7em;
  transform: translateX(-.8em);
}

@media only screen and (min-width: 35em) {

  .initials {
    width: 7em;
    transform: translateX(-.8em);
  }

}

@media only screen and (min-width: 60em) {

  .initials {
    width: 7em;
    transform: translateX(-1em);
  }

  ::-webkit-scrollbar {
      width: 9px;
      display: block;
    }

  ::-webkit-scrollbar-track {
    border-left: 1px solid #494138;
    background: #302B26;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb {
    max-width: 8px;
    border-radius: 0;
    background: #EBBE50;
    border-left: 1px solid #494138;
  }


}


@media only screen and (min-width: 90em) {

  ::-webkit-scrollbar {
      width: 9px;
      display: block;
    }

  ::-webkit-scrollbar-track {
    border-left: 1px solid #494138;
    background: #302B26;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb {
    max-width: 8px;
    border-radius: 0;
    background: #EBBE50;
    border-left: 1px solid #494138;
  }


}
