.nav-btn {
  position: absolute;
  display: block;
}

.nav-btn {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  right: 0.5em;
  transform: translateY(-125%);
}

.sidenav a {
  position: relative;
  width: 60%;
  min-width: 10em;
  padding: 1em;
  margin-top: 2em;
  margin-left: 20%;
  border: 1.5px solid #EBBE50;
  text-decoration: none;
  color: #EBBE50;
  display: block;
  font-weight: 600;
  transition: 0.5s ease-out;
}

.sidenav a:hover {
  background-color: #EBBE50;
  color: #1C2323;
}

.sidenav {
  padding-top: 7em;
  position: fixed;
  height: 100%;
  width: 0;
  right: -0.5px;
  background: #494138;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: 0.5s;
  z-index: 100;
  border-left: 1px solid #EBBE50;
}

#nav-icon {
  margin-right: .5em;
  width: 40px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
  z-index: 1000000;
}

#nav-icon span {
  display: block;
  position: fixed;
  height: 4px;
  width: 100%;
  background: #EBBE50;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  z-index: 1;
}

#nav-icon span:nth-child(2) {
  top: 12px;
  z-index: 2;
}

#nav-icon span:nth-child(3) {
  top: 12px;
  z-index: 3;
}

#nav-icon span:nth-child(4) {
  top: 24px;
  z-index: 1;
}

#nav-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
  z-index: 1;
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  background: #000;
  z-index: 1;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #EBBE50;
  z-index: 1000;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #EBBE50;
  z-index: 1000;
}

#fill {
  right: 0.57em;
  position: fixed;
  height: 6em;
  width: 80px;
  background: #494138;
  z-index: 10000000;
  border-left: 1px solid #EBBE50;
  border-right: 1px solid #EBBE50;
  border-bottom: 1px solid #EBBE50;
}

.logo-btn {
  display: inline-block;
  width: 5em;
  height: 4em;
}

.nav-bar {
  background-color: #494138;
  border-bottom: 1px solid #EBBE50;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.initials {
  width: 6em;
  transform: translateX(-.5em) translateY(.45em);
}

.logo-btn:focus {
  outline: none;
}

.nav-lrg {
  display: none;
}

@media only screen and (min-width: 38em) {


  .sidenav a {
    position: relative;
    width: 80%;
    min-width: 10em;
    padding: 1em;
    margin-top: 2em;
    margin-left: 10%;
    border: 1.5px solid #EBBE50;
    text-decoration: none;
    color: #EBBE50;
    display: block;
    font-weight: 600;
    transition: 0.5s ease-out;
  }

  #fill {
    right: 3.4em;
    height: 6em;
    width: 80px;
    background: #494138;
    z-index: 1000000000;
  }

  .nav-btn {
    right: 0.6em;
    z-index: 1000;
    transform: translateY(-133%);
  }

  .logo-btn {
    display: inline-block;
    width: 5em;
    height: 4em;
  }

  .initials {
    width: 6em;
    transform: translateX(-.2em) translateY(.5em);
  }

}

@media only screen and (min-width: 60em) {

  .logo-btn {
    display: inline-block;
    width: 5em;
    height: 3.6em;
  }

  .sidenav {
    display: none;
  }

  #nav-icon {
    width: 65px;
    height: 55px;
  }

  #nav-icon span {
    height: 13px;
  }

  #nav-icon span:nth-child(2) {
    top: 20px;
  }

  #nav-icon span:nth-child(3) {
    top: 20px;
  }

  #nav-icon span:nth-child(4) {
    top: 40px;
  }

  #nav-icon.open span:nth-child(1) {
    top: 20px;
  }

  #nav-icon.open span:nth-child(4) {
    top: 20px;
  }

  .nav-btn {
    display: none;
  }

  .nav-lrg {
    position: absolute;
    display: inline-block;
    transform: translateY(1.3em);
    right: 0;
  }

  .btn-lrg {
    display: inline-block;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  .btn-lrg-1 {
    border-right: 2px solid #EBBE50;
  }

  .btn-lrg-2 {
    border-right: 2px solid #EBBE50;
  }

  .no-deco {
    text-decoration: none;
    color: #EBBE50;
  }

  .initials {
    width: 6em;
    transform: translateX(-.3em) translateY(.5em);
  }

}

@media only screen and (min-width: 90em) {

  #nav-icon {
    width: 70px;
    height: 60px;
  }

  #nav-icon span {
    height: 15px;
  }

  #nav-icon span:nth-child(2) {
    top: 22px;
  }

  #nav-icon span:nth-child(3) {
    top: 22px;
  }

  #nav-icon span:nth-child(4) {
    top: 44px;
  }

  #nav-icon.open span:nth-child(1) {
    top: 22px;
  }

  #nav-icon.open span:nth-child(4) {
    top: 22px;
  }

}
