@media only screen and (min-width: 35em) {



}

@media only screen and (min-width: 60em) {

  html {
    background-color: #1C2323;
    font-family: 'Poppins', sans-serif;
  }

  body {
    display: none;
    overflow-x: hidden;
  }

  .pic {
    transition: 0.6s;
    transition-timing-function: ease-in-out;
  }

  .pic:hover {
    width: 90%;
    transition-timing-function: ease-in-out;
    border-radius: 1.5px;
    transition: 0.08s;
    -webkit-transition: 0.06s;
    filter: brightness(115%);
    box-shadow: 0px 0px 1px 1px #F46E67, 0 0 10px .05px #F46E67;
    filter: contrast(130%);
  }

  .pic:hover {
    transform: translate(5.92%, 5.92%);
    transition: 0s;
  }

  .img-holder {
    width: 7.1425%;
  }

  .nav-btn {
    position: relative;
  }

  .hamburger {
    max-width: 4%;
    max-height: 6%;
    position: fixed;
    right: 8.72%;
    transform: translateY(293%);
    z-index: 1001;

  }

  .transformburg {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .transformburg-active {
    max-width: 2.963%;
    max-height: 4.444%;
    position: fixed;
    right: 5.72%;
    transform: translateY(270%);
    z-index: 1001;
  }

  .space {
    padding-bottom: 40em;
    background: #1C2323;
  }

  .nav-close {
    display: none;
    transition: 0.5s ease;
  }

  .splash {
    background-image: url("../../tiles/background-80.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #893044;
  }

  .rows {
    z-index: 900;
  }

  .slide-menu-holder {
    position: relative;
  }

  .sidenav a {
    position: relative;
    width: 68%;
    padding: 0.5em;
    min-width: 10em;
    margin-top: 2.5em;
    margin-left: 16%;
    border: 2px solid #1C2323;
    text-decoration: none;
    color: #1C2323;
    display: block;
    transition: 0.3s;
    font-weight: 600;
    background-color: transparent;
    transition: 0.7s ease-out;
  }

  .sidenav a:hover {
    background-color: rgba(129, 211, 199, 0.4);
    color: #1C2323;
    filter: hue-rotate(-180deg);
  }

  .sidenav {
    padding-top: 10%;
    position: fixed;
    height: 100%;
    width: 0;
    right: -0.5px;
    background-image: url("../../images/nav-gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s ease;
    border-left: 1px solid #893044;
  }

  #main {
    transition: margin-right .5s;
  }

  .pic16:hover,
  .pic17:hover,
  .pic18:hover,
  .pic19:hover,
  .pic20:hover,
  .pic30:hover,
  .pic31:hover,
  .pic32:hover,
  .pic33:hover,
  .pic34:hover,
  .pic35:hover,
  .pic36:hover,
  .pic44:hover,
  .pic45:hover,
  .pic46:hover,
  .pic47:hover,
  .pic48:hover,
  .pic49:hover,
  .pic97:hover  {
    filter: contrast(150%);
    filter: brightness(130%);
  }

  .closebtn:focus,
  .sidenav a:focus {
    outline: 0px;
  }

  .nav-button {
    opacity: 100%;
  }

  .nav-button-fade {
    opacity: 0%;
    transition: fade-out 1s;
  }

}


@media only screen and (min-width: 90em) {

  html {
    background-color: #1C2323;
    font-family: 'Poppins', sans-serif;
  }

  body {
    display: none;
    overflow-x: hidden;
  }

  .pic {
    width: 99%;
    height: 99%;
    transform: translate(1%, 1%);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }

  .pic:hover {
    width: 95%;
    height: 95%;
    transition-timing-function: ease-in-out;
    border-radius: 1.5px;
    filter: brightness(115%);
    filter: contrast(130%);
        box-shadow: 0px 0px 50px 10px #F46E67;
        z-index: 1000003;
  }

  .pic:hover .img-holder {
    box-shadow: inset 0px 0px 50px 10px #F46E67;
  }

  .pic:hover {
    transform: translate(2.83%, 2.55%);
    transition: 0s;
  }

  .img-holder {
    width: 7.1425%;
  }

  .nav-btn {
    position: relative;
  }

  .hamburger {
    max-width: 4%;
    max-height: 6%;
    position: fixed;
    right: 8.72%;
    transform: translateY(293%);
    z-index: 1001;

  }

  .transformburg {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .transformburg-active {
    max-width: 2.963%;
    max-height: 4.444%;
    position: fixed;
    right: 5.72%;
    transform: translateY(270%);
    z-index: 1001;
  }

  .space {
    padding-bottom: 40em;
    background: #1C2323;
  }

  .nav-close {
    display: none;
    transition: 1.5s;
  }

  .splash {
    background-image: url("../../tiles/background-80.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #893044;
  }

  .rows {
    z-index: 900;
  }

  .slide-menu-holder {
    position: relative;
  }

  .holder {
    min-width: 17%;
  }

  .sidenav a {
    position: relative;
    width: 67%;
    min-width: 10em;
    padding: 0.5em;
    margin-top: 3em;
    margin-left: 4.2em;
    border: 2px solid #1C2323;
    text-decoration: none;
    color: #1C2323;
    display: block;
    transition: 0.3s;
    font-weight: 600;
    background-color: transparent;
    transition: 0.7s ease-out;
  }

  .sidenav a:hover {
    background-color: rgba(129, 211, 199, 0.4);
    color: #1C2323;
    filter: hue-rotate(-180deg);
  }

  .sidenav {
    padding-top: 8.2em;
    position: fixed;
    height: 100%;
    width: 0;
    right: -0.5px;
    background-image: url("../../images/nav-gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    border-left: 1px solid #893044;
  }

  #main {
    transition: margin-right .5s;
  }

  .pic16:hover,
  .pic17:hover,
  .pic18:hover,
  .pic19:hover,
  .pic20:hover,
  .pic30:hover,
  .pic31:hover,
  .pic32:hover,
  .pic33:hover,
  .pic34:hover,
  .pic35:hover,
  .pic36:hover,
  .pic44:hover,
  .pic45:hover,
  .pic46:hover,
  .pic47:hover,
  .pic48:hover,
  .pic49:hover,
  .pic97:hover  {
    filter: contrast(130%);
    filter: brightness(115%);
  }

  .pip101:hover {
    filter: hue-rotate(300deg);
  }

  .closebtn:focus,
  .sidenav a:focus {
    outline: 0px;
  }

  .nav-button {
    opacity: 100%;
  }

  .nav-button-fade {
    opacity: 0%;
    transition: fade-out 1s;
  }

}
