/* body {
  background-color: #f4e9d4;
} */
/* 
.first-video {
  display: block;
  position: flex
} */

.text-big {
  padding: 0 1em 0 1em;
}

.text-body {
  font-size: 0.8em;
}

.text-body-research {
  margin-bottom: 2em;
  font-size: 0.8em;
}

.info {
  border-top: 2px solid #494138;
}

.title-space {
  background-color: #494138;
  padding-top: 1em;
}

.text-header {
  color: #494138;
}

.project-title {
  padding-top:3.5em;
  margin-left: 0.5em;
  padding-bottom: 0.8em;
  margin-bottom: inherit;
  color: #EBBE50;
}

.research {
  padding: 0 1em 0 1em;
}

.big-list-1 {
  border-top: none;
}

@media only screen and (min-width: 38em) {

  .text-big {
    padding: 0 2em 0.5em 1.5em;
  }

  .pics {
    width: 49vw;
  }

  .text-body {
    font-size: 0.8em;
  }

  .research {
    padding-bottom: .5em;
  }

  .project-title {
    padding-top: 2.5em;
    margin: 0;
    text-align: center;
  }

  .text-header {
    margin-bottom: 0.5em;
  }

  .info {
    border-top: 5px solid #494138;
  }

  .big-img {
    border-right: 5px solid #494138;
  }

}

@media only screen and (min-width: 60em) {

  .research {
    padding-right: 2.2em;
    padding-left: 1.6em;

  }

  .text-body {
    font-size: 0.8em;
  }

  .text-body-research {
    font-size: 0.8em;
  }

  .text-big {
    padding: 0 2em 0.5em 2em;
  }

  /* .top-text-1 {
    border-right: 5px solid #494138;
    padding-right: 0;
  } */

}

@media only screen and (min-width: 70em) {

  .text-body {
    font-size: 0.8em;
  }

  .text-body-research {
    font-size: 0.8em;
  }

}

@media only screen and (min-width: 90em) {




}
