.text-big {
  padding: 0 1em 0 1em;
}

.text-body {
  font-size: 0.8em;
}

.text-body-research {
  margin-bottom: 2em;
  font-size: 0.8em;
}

.info {
  border-top: 1px solid #494138;
}

.title-space {
  background-color: #494138;
  padding-top: 1em;
}

.text-header {
  color: #494138;
}

.project-title {
  padding-top: 3.5em;
  margin-left: 0.5em;
  padding-bottom: 0.8em;
  margin-bottom: inherit;
  color: #EBBE50;
}

.research {
  padding: 0 1em 0 1em;
}

@media only screen and (min-width: 38em) {

  .text-big {
    padding: 0 2em 0.5em 1em;
  }

  .pics {
    width: 49vw;
  }

  .text-body {
    font-size: 0.8em;
  }

  .research {
    height: 17em;
  }

  .project-title {
    padding-top: 2.5em;
    margin: 0;
    text-align: center;
  }

  .text-header {
    margin-bottom: 0.5em;
  }

}

@media only screen and (min-width: 60em) {

  .research {
    height: 22em;
    margin-right: 6em;
    margin-left: 6em;
  }

  .text-body {
    font-size: 0.9em;
  }

  .text-body-research {
    font-size: 0.9em;
  }

}

@media only screen and (min-width: 70em) {

  .research {
    height: 22em;
  }

  .text-body {
    font-size: 1em;
  }

  .text-body-research {
    font-size: 1em;
  }

}

@media only screen and (min-width: 90em) {

  .research {
    height: 19em;
  }

}
