.project {
  height: 16.1vh;
  overflow: hidden;
  margin-bottom: 0.5em;
  position: relative;
}

.project:focus {
  outline: none;
}

.work-title {
  text-align: center;
  background-color: #494138;
  color: #EBBE50;
  padding-top: 4em;
  padding-bottom: 1em;
  display: block;
}

.work-cards {
  padding-top: 0.75em;
  padding-bottom: 0.25em;
}

.project-header {
  color: #EBBE50;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}

.overlay {
  background: rgba(73, 65, 56, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: 0.3s ease;
  background-image: none;
  height: 100%;
  width: 100%;
  margin-top: 0;
}

.project:hover .overlay {
  opacity: 1;
}

.project-header {
  margin-left: 2em;
  padding-top: 1.5em;
}

@media only screen and (min-width: 38em) {

  .overlay-1,
  .overlay-2,
  .overlay-3 {
    margin-top: 0.5em;
  }

  .overlay-4,
  .overlay-5,
  .overlay-6 {
    margin-top: 0.25em;
  }

  .work-cards {
    padding-top: 0.6em;
    padding-right: 0;
  }

  .work-title {
    display: none;
  }

  .project-header {
    padding-top: 2em;
    margin-left: 0;
  }

}

@media only screen and (min-width: 608px) {

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease-out;
    background: rgba(73, 65, 56, 0.5);
    /*background-image: url("../images/project-card-hover-3.svg");*/
    background-size: cover;
    background-position: center;
    height: 97.5%;
    width: 99%;
    margin-left: .25em;
  }

  .project-header {
    text-align: center;
  }

  .project:hover .overlay {
    opacity: 1;
  }

  .project-card {
    filter: brightness(100%);
    opacity: 1;
    transition: .5s ease;
  }

  .project:hover .project-card {
    opacity: .8;
    filter: brightness(50%);
  }

  .overlay-1,
  .overlay-2,
  .overlay-3 {
    margin-top: .5em;
  }

  .overlay-4,
  .overlay-5,
  .overlay-6 {
    height: 99%;
    margin-top: .25em;
  }

  .project-1,
  .project-2,
  .project-3 {
    padding-top: 0.5em;
  }

  .project-4,
  .project-5,
  .project-6 {
    padding-top: 0.25em;
  }

  .project {
    height: 15em;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    margin-bottom: 0;
  }

  .work-cards {
    padding-top: 4.8em;
    padding-bottom: 1em;
    padding-right: 1em;
  }

  .work-title {
    padding-top: 8em;
    padding-bottom: 1em;
  }

  .project-header {
    padding-top: 4.3em;
    font-size: 1.2em;
  }

}

@media only screen and (min-width: 850px) {

  .project-1,
  .project-2,
  .project-3 {
    padding-top: 0.5em;
  }

  .project {
    height: 18em;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    margin-bottom: 0;
  }

  .project-4,
  .project-5,
  .project-6 {
    padding-top: 0.25em;
  }

  .project-header {
    padding-top: 4.1em;
    font-size: 1.6em;
  }

  .work-cards {
    padding-top: 4.7em;
  }

}

@media only screen and (min-width: 960px) {

  .work-cards {
    padding-top: 4.5em;
  }

}

@media only screen and (min-width: 90em) {

  .project-header {
    padding-top: 3.6em;
    font-size: 1.6em;
  }

  .work-cards {
    padding-top: 4.5em;
  }

  .project {
    height: 16.5em;
  }

}
