.project {
  height: 16.1vh;
  overflow: hidden;
  margin-bottom: 0.5em;
  /*transition: .3s ease;*/
  position: relative;
}

.project-card {

}
/*
.project:hover {
  opacity: .3;
}*/

/*.project-card {
  filter: blur(0);
}

.project-card:hover {
  filter: blur(0.08em);
}*/

.work-title {
  text-align: center;
  background-color: #494138;
  color: #EBBE50;
  padding-top: 4em;
  padding-bottom: 1em;
  display: block;
}

.work-cards {
  padding-top: 1vh;
  padding-bottom: 0.5em;
}

.project-header {
  /*position: absolute;*/
  color: #EBBE50;
  width: 100%;
  vertical-align: middle;
  text-align: left;
  /*top: 50%;
  left: 50%;*/
  /*transform: translateX(50%) translateY(50%);*/
  /*transform: translateZ(20px);*/
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: 0.3s ease;
  background-image: none;
  height: 100%;
  width: 100%;
  margin-left: 2em;
  margin-top: 0;
  /*box-shadow: 2px 2px 3px 3px #494138;*/
}

.project:hover .overlay {
  opacity: 1;
  /*transition: 1s ease;*/
}

.project-header {
  padding-top: 1.5em;
}

.project-card {
  filter: brightness(60%);
}

/*.project:hover .project-card {
  filter: blur(5px);
}*/

@media only screen and (min-width: 38em) {

  .overlay-1,
  .overlay-2,
  .overlay-3 {
    margin-top: 0.5em;
  }

  .overlay-4,
  .overlay-5,
  .overlay-6 {
    margin-top: 0.25em;
  }

  .work-cards {
    padding-top: 0.6em;
    padding-right: 0;
  }

  .work-title {
    display: none;
  }

  .project-header {
    padding-top: 2em;
  }


}

@media only screen and (min-width: 608px) {

  /*.project {
    transition: 0.5s ease-out
  }

  .project:hover .project-card {
    overflow: hidden;
    filter: blur(2px);
  }*/

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease-out;

    height: 97.5%;
    width: 99%;
    margin-left: .25em;
    /*box-shadow: 2px 2px 3px 3px #494138;*/
    /*border: 7px solid #494138;*/
    /*overflow: visible;*/

  }

  .project-header {
    text-align: center;
  }

  .project:hover .overlay {
    opacity: 1;
    /*transition: 0.3s ease;*/
  }

  .project-card {
    filter: brightness(100%);
    opacity: 1;
    transition: .5s ease;
  }

  .project:hover .project-card {
    /*transition: 1s ease-in-out;*/
    opacity: .8;
    filter: brightness(50%);
  }

  .overlay-1,
  .overlay-2,
  .overlay-3 {

    margin-top: .5em;
  }

  .overlay-2 {
    background-image: url("../images/project-card-back-3.svg");
    background-size: cover;
    background-position: center;
  }

  .overlay-3 {
    background-image: url("../images/project-card-back-3.svg");
    background-size: cover;
    background-position: center;
  }

  .overlay-4 {
    background-image: url("../images/project-card-back-3.svg");
    background-size: cover;
    background-position: center;
  }

  .overlay-1,
  .overlay-5,
  .overlay-6 {
    background-image: url("../images/project-card-back-3.svg");
    background-size: cover;
    background-position: center;
  }

  .overlay-4,
  .overlay-5,
  .overlay-6 {
    height: 99%;
    margin-top: .25em;
  }

  .project-1,
  .project-2,
  .project-3 {
    padding-top: 0.5em;
    /*margin-top: .5em;*/
  }

  .project-4,
  .project-5,
  .project-6 {
    padding-top: 0.25em;
    /*margin-top: .25em;*/
  }

  .project {
    height: 15em;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    /*margin-right: 0.25em;*/
    margin-bottom: 0;
  }

  .work-cards {
    padding-top: 4.8em;
    padding-bottom: 1em;
    padding-right: 1em;
  }

  .work-title {
    padding-top: 8em;
    padding-bottom: 1em;
  }

  .project-header {
    padding-top: 4.3em;
    font-size: 1.2em;
  }

}

@media only screen and (min-width: 850px) {

  .project-1,
  .project-2,
  .project-3 {
    padding-top: 0.5em;
  }

  .project {
    height: 18em;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    /*padding-right: 0.25em;*/
    margin-bottom: 0;
  }

  .project-4,
  .project-5,
  .project-6 {
    padding-top: 0.25em;
  }

  .project-header {
    padding-top: 4.1em;
    font-size: 1.6em;
  }

  .work-cards {
    padding-top: 4.7em;
  }

}

@media only screen and (min-width: 960px) {

  .work-cards {
    padding-top: 4.5em;
  }

}

@media only screen and (min-width: 90em) {

  .project-header {
    padding-top: 3.6em;
    font-size: 1.6em;
  }

  .work-cards {
    padding-top: 4.5em;
  }

  .project {
    height: 16.5em;
  }

}
