<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <!-- <title>JS Design</title> -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

  <nav class="nav-bar">
    <a class="logo-btn" href="{{site.baseurl}}/">
      <img class="initials gutter img-flex" src="{{site.baseurl}}/images/js-initials-logo.svg" alt="J.S.">
    </a>
    <div class="nav-lrg">
      <div class="btn-lrg btn-lrg-1">
        <a class="text-center no-deco" href="{{site.baseurl}}/">HOME</a>
      </div>
      <div class="btn-lrg btn-lrg-2">
        <a class="text-center no-deco" href="{{site.baseurl}}/portfolio-work/">WORK</a>
      </div>
      <div class="btn-lrg">
        <a class="text-center no-deco" href="{{site.baseurl}}/contact/">CONTACT</a>
      </div>
    </div>
    <div class="btn-extra-width">
      <div class="nav-btn">
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </nav>
  <!-- <div class="bookmark">
    <span class="bookmark-fill" id="fill"></span>
  </div> -->
  <div class="slide-menu-holder btn">
    <div id="mySidenav" class="sidenav">
      <div class="holder btn text-center">
        <a class="text-center navbtn" id="navbtn" href="{{site.baseurl}}/">Home</a>
      </div>
      <div class="holder btn text-center">
        <a class="text-center navbtn" id="navbtn" href="{{site.baseurl}}/portfolio-work/">Work</a>
      </div>
      <div class="holder btn text-center">
        <a class="text-center navbtn" id="navbtn" href="{{site.baseurl}}/contact/">Contact</a>
      </div>
    </div>
  </div>

  {{content}}

  <script src="{{site.baseurl}}/js/jquery-3.2.0.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
  <script src="{{site.baseurl}}/animatescroll.js"></script>
</body>
</html>
